html, body {
  font-family: Georgia, serif;
  color: #fff;
}

header {
  background-color: #9acd32;
  border-color: #9acd32;
  padding: 5vh;

}

.wrapper {
  display: flex;
  align-items: stretch;
}

.navbar-btn {
  color: #000000;
  position: absolute;
  z-index: 1;
}

.navbar-btn:hover {
  color: #fff;
  background-color: #9acd32;
  border-color: #9acd32;
}

#sidebar {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 80vh;
  max-height: 80vh;
  margin-left: -15vw;
}

#sidebar.active {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 80vh;
  max-height: 80vh;
  margin-left: 0vw;
}

#sidebar {
  background: #9ACD32;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #9ACD32;
}

video {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 80vh;
  max-height: 80vh;
  z-index: -1;
}
